# ignore all .exe file
*.exe
# ignore all .zip file
*.zip
# ignore all .mp4 file
*.mp4

# ignore .env,because this is kind private info. right? is not such matter to me, but everyone suggest to delete it.
# u can go to OPENweather, get one ur's API key
.env

debug.py
init_db.py