@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* CSS Resets */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General styles */

body {
    background-color: #9DACDB;
    position: relative;
    min-height: 100%;
    height: auto;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	text-align: center;
	color: black;
}

h2 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 35px;
	text-align: center;
	color: black;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	letter-spacing: 0.15em;
	font-size: 25px;
	text-align: center;
	color: white;
}

a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
    color: white;
	text-decoration: none;
}

img {
	width: 100vw;
    height: 100vh;
}

.container {
	display: grid;			/*grid顯示2維頁面two demension page,比起flex顯示平面以橫縱軸表示不同頁面more page use axis to show different pages*/
	height: 100vh;
}							/*定義Css顯示格式flex container,define a CSS showing format 'flex container'*/

/* Background */

.background {
	grid-row: 1 / -1;
	grid-column: 1 / -1;
	z-index: 1;
}							/*grid沒有設定pixel大小,所以這裡的row、column設定到整個頁面.*/

.background img {
	opacity: 0.8;
}

/* Home Page */

.main-header {
    grid-row: 1 / -1;
	grid-column: 1 / -1;
    z-index: 2;
}

.main-header h1 {
	font-size: 80px;
	padding-top: 12%;
    line-height: 115px;
}

.search-bar {
    grid-row: 1 / -1;
	grid-column: 1 / -1;
  	z-index: 2;
	width: 400px;
	height: 30px;
	background: white;
	position: relative;
    display: flex;
	justify-self: center;
	align-self: center;
	border-radius: 5px;
} 

.search-bar:hover {
	box-shadow: 0px 1px 5px #d9d9d9;
}

.search-icon {
	position: absolute;
	top: 6px;
	left: 8px;
	width: 20px;
	height: 20px;
}

#search {
	width: 83%;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	position: absolute;
	left: 35px;
	border: none;
	outline: none;
}

/* Users info button */

.user-button {
    z-index: 2;
	height: 38px;
	width:  38px;
	border-radius: 30px;
	background: white;
	position: absolute;
	top: 3%;
	right: 2%;
}

.user-icon {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 2%;
	left: 3%;
}

/* User Page */
.user-header {
	padding-top: 0%;
}

.user-Photo {
	z-index: 2;
	height: 140px;
	width: 140px;
	border-radius: 70px;
	background: white;
	position: absolute;
	top: 20%;
	left: 45%;
}

.ID-text, .mail-text {
	z-index: 1;
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 800;
	position: absolute;
	left:45.5%
}
.ID-text{top: 350px;}
.mail-text{top: 450px;}

.login-form{
	padding-top: 0%;
}

.input-bar {
    z-index: 1;
	width: 300px;
	height: 30px;
	background: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	left: 41%;
	position: absolute;
}
.input-bar:nth-of-type(2) {top: 400px;}
.input-bar:nth-of-type(4) {top: 500px;}

.input-bar:hover {
	box-shadow: 0px 1px 5px #d9d9d9;
}

.bar-icons{
	position: absolute;
	top: 3px;
	left: 8px;
	width: 24px;
	height: 24px;
}

#ID, #mail{
	width: 83%;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	position: relative;
	left: 35px;
	border: none;
	outline: none;
	background: transparent;
}

.login-btn{
	z-index: 1;
	position: absolute;
	top: 550px;
	right: 43%;
	width: 130px;
	height: 40px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	background: #4a8cff;
	color: white;
	cursor: pointer;
}
.login-btn:hover{
	background: #356bd1;
}

.signup-btn{
	z-index: 1;
	position: absolute;
	top: 550px;
	left: 41%;
	width: 130px;
	height: 40px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	background: white;
	color: black;
	cursor: pointer;
}
.signup-btn:hover{
	background: aliceblue;
}

.error-placeholder::placeholder{
	color: red;
	font-weight: bold;
}

/* Sub_city Page Text */
.subCity-button {
    z-index: 2;
	height: 38px;
	width:  38px;
	border-radius: 30px;
	background: white;
	position: absolute;
	top: 10%;
	right: 2%;
}
.city-header .subCity-button {
	top: 2%;
}

.scity-icon {
	width: 34px;
	height: 34px;
	position: absolute;
	top: 3%;
	left: 3%;
}
.city-header .scity-icon {
	left: 5%;
	top: 5%;
}

.user-name {
	padding-top: 5%;
	font-size: 50px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: black;
}
/* Sub_city button */
.sub-city, .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	
	gap: 20px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;

	/* justify-content: center; */
}

.city-card {
	height: 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 15px;

	border: 1px solid #ddd;
    border-radius: 15px;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8	px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

	position: relative;		/*使刪除按鈕定位*/
	transition: transform 0.2s;
}
.city-card:hover {
	transform: translateY(-3px);
}
.icon {
	width: 60px;
    height: 60px;
	margin-right: 15px;
}

.delete-form {
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0;
	padding: 0;
	z-index: 10;
}
.delete-button {
	background: #e74c3c;
	border: none;
	border-radius: 50%;
	color: white;
	width: 24px;
	height: 24px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: background 0.2s;
}
.delete-button:hover {
	background: #c0392b;
}

.info {
	align-items: flex-start;
	flex: 1;
}

.city-name {
	font-size: 26px;
	font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
	text-align: center;

	margin-bottom: 5px;
}
.city-card .temp {
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
    color: #444;
	text-align: left;
}

/* City Page Text */

.city-header {
	padding-top: 4%;
}

.city-header h1 {
	font-size: 60px;
	padding-bottom: 2.5%;
}

.city-header h1 small {
	font-size: 40px;
	font-weight: 450;
}

/* City Page Button */

.change-button {
    z-index: 2;
	height: 28px;
	width: 220px;
	border-radius: 15px;
	background: white;
	position: absolute;
	top: 3%;
	left: 3%;
}

.change-button:hover {
	box-shadow: 0px 1px 5px #d9d9d9;
}

.chevron-icon {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 7px;
	left: 5px;
}

.change-button a {
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.21em;
	text-transform: uppercase;
	position: absolute;
	top: 5px;
	left: 25px;
}

.sub-form{
	padding-top: 0%;
}
.sub-button{
	z-index: 2;
	position: absolute;
	top: 2%;
	right: 2%;
	width: 38px;
	height: 38px;
	border: none;
	border-radius: 38px;
	background: white;
}
.signup-btn:hover{
	background: aliceblue;
}
.sub-button .scity-icon {
	width: 38px;
	height: 38px;
	left: 0%;
	top: 0%;
}

/* Daily Forecast Section  */
.daily-forecast {
	margin-bottom: 3%;
	display: grid;
	grid-template-columns: repeat(2, auto);
}

#current-temp {
	font-size: 80px;
	grid-column: 1 / 2;
	justify-self: right;
	padding-right: 10%;
	position: relative;
	top: 90%;
}

.daily-section {
	grid-column: 2 / 2;
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: left;
}

.weather-icon {
	width: 50px;
	height: 50px;
	align-self: center;
	padding-top: 10px;
}

.forecast-text {
	padding-left: 25px;
	align-self: center;
}

/* Five Day Forecast Section */

.divider {
	border-top: 1px solid black;
	width: 70%;
	justify-self: center;
}

.five-day {
	display: grid;
	grid-template-columns: repeat(5, 160px);
	justify-content: center;
	margin-bottom: 3%;
}

.forecast-item {
	display: grid;
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	align-items: center;
}

/* Error Page */
#error-text {
    grid-row: 1 / -1;
	grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
    z-index: 2;
    color: white;
    font-size: 50px;
}

#error-background {
    opacity: 1.0;
}

/* Footer */
.footer {
	position: absolute;
	bottom: 20px;
	justify-self: center;
	color: #333;
	font-family: 'Ubuntu', sans-serif;
}

/* Media Queries for Home Page , 以不同pixel值判定設備使用的顯示頁面 different pixels to assign device can use page*/
/* Laptop and iPad */
@media (min-width: 1000px) {
    #search {
        top: 3px;
    }
}

/* iPhone */
@media (max-width: 450px) {
	.main-header h1 {
	  font-size: 65px;
	  position: relative;
	  top: 90px;
	}

	.search-bar {
		width: 300px;
	}

	#search {
	    width: 75%;
	    height: 20px;
	}
}

/* Media Queries for City Page */
@media (max-width: 800px) {
	.city-header {
		padding-top: 10%;
	}
	.five-day {
		grid-template-columns: repeat(5, 1fr);
		margin-bottom: 5%;
	}
}

@media (max-width: 550px) {
	.city-header {
		padding-top: 20%;
	}

	.city-header h1 {
		font-size: 50px;
		padding-bottom: 5%;
	}

	h2 {
		font-size: 30px;
	}

	#current-temp {
		font-size: 50px;
		position: relative;
		top: 90%;
	}
}

@media (max-width: 450px) {
	.city-header {
		padding-top: 23%;
	}

	p {
		font-size: 20px;
	}

	#current-temp {
		font-size: 43px;
		padding-right: 0%;
	}

	.weather-icon {
		width: 45px;
		height: 45px;
	}

	.five-day {
		padding-bottom: 9%;
	}

	#error-text {
	    font-size: 40px;
	}
}