<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <title> Yours City </title>
    </head>
    <body>
        <main> 
            <div class="container">
                <div class="change-button">
                    <img class="chevron-icon" src="/static/assets/chevron-left.png" alt="">
                    <a href="{{ url_for('home')}}"> TO home Page </a>
                </div>
                <div class="user-name">
                    {% if user_id %}
                        {{ user_id }}'s City
                    {% endif %}
                </div>
                <div class="sub-city grid-container">
                    {% for c in cities %}
                    <div class="city-card">
                        <img class="icon" src="/static/assets/{{ c.weather.lower() }}.png" alt="">
                        <div class="info">
                            <a class="city-name" href="/{{ c.name }}">{{ c.name }}</a>
                            <p class="temp">{{ c.temp }}°C</p>
                        </div>
                        <form class="delete-form" method="POST" action="/s_city">
                            <button  type = "submit" class="delete-button" name = "action" value="{{ c.name }}"> X </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <div class="footer">
                    <p> No city? Go search and Registration. </p>
                </div>
            </div>
        </main>
    </body>
</html>
